<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="{{ path("accueil") }}">SoresFarm</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="{{ path("legumes") }}">Qui sommes-nous?</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ path("legumes") }}">Notre mission</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ path("abonnements") }}">Les abonnements</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Nos produits
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{{ path("legumes") }}">Légumes</a>
          <a class="dropdown-item" href="{{ path("fruits") }}">Fruits</a>
          <a class="dropdown-item" href="{{ path("viandes") }}">Nos viandes fermières</a>
          <a class="dropdown-item" href="{{ path("animaux") }}">Les animaux</a>
          <a class="dropdown-item" href="{{ path("regions") }}">Les régions</a>
          <a class="dropdown-item" href="{{ path("farmers") }}">Les fermiers partenaires</a>
        </div>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto">
      {% if not app.user %}
      <li class="nav-item">
        <a class="nav-link" href="{{path('signup')}}">S'inscrire</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{path('login')}}">Se connecter</a>
      </li>
      {% else %}
      <li class="nav-item dropleft">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{ app.user.username|capitalize }}
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <a class="dropdown-item" href="{{ path("user_account", {'id' : app.user.id}) }}">Mon compte</a>
        <a class="dropdown-item" href="{{ path("user_abonnement", {'id' : app.user.id}) }}">Mes abonnements</a>
        <a class="dropdown-item" href="{{path('logout')}}">Se déconnecter</a>
        <div class="dropdown-divider"></div>
        {% if is_granted('ROLE_ADMIN') %}
          <a class="dropdown-item" href="{{ path("AdminProduit") }}">Administration des produits</a>
          <a class="dropdown-item" href="{{ path("AdminAbonnement") }}">Administration des abonnements</a>
        {% endif %}
        </div>
      </li>
      {% endif %}
    </ul>
  </div>
</nav>
