{% extends 'base.html.twig' %}

{% block monTitre %}
  Légume {{ fruit.name }}
{% endblock %}

{% block body %}
  <div class="row p-5">
    <div class="d-inline px-5">
      <img style="height: 300px; width: 300px; object-fit: cover;" src="{{asset('pictures/fruits/' ~ fruit.name|replace({' ' : ''}) ~ '.jpg') }}">
    </div>
    <div class="d-inline px-5">
      <h2>{{ fruit.name }}</h2>
      <div>
        {% if fruit.origin != null %}
          {{ fruit.origin }}
        {% else %}
          Inconnue pour cet aliment
        {% endif %}
      </div>
      <h3>Les caractéristiques</h3>
      <ul>
        <li>Protéines : {{ fruit.skill.proteine }}</li>
        <li>Lipides : {{ fruit.skill.lipide }}</li>
        <li>Glucides : {{ fruit.skill.glucide }}</li>
      </ul>
    </div>
  </div>
{% endblock %}
