{% extends 'base.html.twig' %}

{% block monTitre %}
  Nos fruits
{% endblock %}

{% block body %}

<div class="row text-center">
  {% for fruit in fruits %}
    <div class="card mb-3 col-3 m-5">
      <h3 class="card-header">{{ fruit.name }}</h3>
      <div class="card-body">
        <h5 class="card-title">{{ fruit.origin }}</h5>
        <h6 class="card-subtitle text-muted">blablabla</h6>
      </div>
      <img style="height: 200px; width: 100%; display: block;" src="{{ asset("pictures/fruits/" ~ fruit.image) }}" alt="Card image">
      <div class="card-body">
        <p class="card-text"><span style="font-size: large; font-weight: bold;">Prix {{ fruit.price }}€</span></p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Protéines : {{ fruit.proteine }} grammes</li>
        <li class="list-group-item">Lipides : {{ fruit.lipide }} grammes</li>
        <li class="list-group-item">Glucides : {{ fruit.glucide }} grammes</li>
      </ul>
      <div class="card-body">
        <a href="{{ path('afficher_fruit', {'id' : fruit.id}) }}" class="card-link" style="font-weight: bold;">{{ fruit.name }}</a>
        <a href="{{ path('legumes') }}" class="card-link" style="font-weight: bold;">Nos légumes</a>
      </div>
    </div>
  {% endfor %}
</div>
<div class="navigation">
  {{ knp_pagination_render(fruits) }}
</div>

{% endblock %}
