{% extends 'base.html.twig' %}

{% block monTitre %}
  Légume {{ legume.name }}
{% endblock %}

{% block body %}
  <div class="row p-5">
    <div class="d-inline px-5">
      <img style="height: 300px; width: 300px; object-fit: cover;" src="{{asset('pictures/legumes/' ~ legume.name|replace({' ': ''}) ~ '.jpg') }}">
    </div>
    <div class="d-inline px-5">
      <h2>{{ legume.name }}</h2>
      <div>
        {% if legume.origin != null %}
          {{ legume.origin }}
        {% else %}
          Inconnue pour cet aliment
        {% endif %}
      </div>
      <h3>Les caractéristiques</h3>
      <ul>
        <li>Protéines : {{ legume.skill.proteine }}</li>
        <li>Lipides : {{ legume.skill.lipide }}</li>
        <li>Glucides : {{ legume.skill.glucide }}</li>
      </ul>
    </div>
  </div>
{% endblock %}
